{% extends "../base.html" %}

{% block content %}
    <h1>Estatus Funciones Criticas</h1>
    <div class="container">
        <div class="bg-warning p-2 mb-2 rounded">
            Gestion de Cursos/Generador de Servicios
        </div>
        <div class="bg-danger p-2 mb-2 rounded">
            Edicion de Cursos/Servicios
        </div>
        <div class="bg-danger p-2 mb-2 rounded">
            Generacion de Contratos en PDF
        </div>
        <div class="bg-danger p-2 mb-2 rounded">
            Pago en Linea
        </div>
        <div class="bg-danger p-2 mb-2 rounded">
            Confirmacion de Reserva
        </div>
        <div class="bg-danger p-2 mb-2 rounded">
            Cancelacion de Reservas
        </div>
    </div>
    <h1>Bienvenido a Fit Life</h1>
    <p>Esta es la página de inicio.</p>
{% endblock %}
